@import url('https://fonts.googleapis.com/css?family=Roboto:700');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar{
    position: fixed;
    background: #1e2dff;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
    background: #1e2dff;
    padding: 20px;
    font-weight: bold;
}


.sidebar ul li {
    margin: 25px 0;
}

.sidebar ul li a{
    color: #ffffff;
    padding: 0 30px;

}
.sidebar ul li a:hover{
    color: #000000;
    margin-left: 20px;
    transition: 0.4s;
}

.main{
    margin-left: 200px;
    padding: 5px;
}

.main p{
    font-size: 20px;
    margin-left: 30px;
}

#flip {
    margin-top: 20px;
    margin-left: 20px;
    height:50px;
    overflow:hidden;
}
  
#flip > div > div {
  font-size: 30px;
  color:#fff;
  padding:18px 18px;
  height:50px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}

#flip div:first-child div {
  background:#dddb47;
}

#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-82px;}
  66% {margin-top:-82px;}
  71% {margin-top:-8px;}
  99.99% {margin-top:-8px;}
  100% {margin-top:-270px;}
}
